{% extends "base.html" %}
{% load static %}

<!-- Correcte référence au fichier CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block title %}Connexion{% endblock %}

{% block bodyId %}loginPage{% endblock %}

{% block content %}
<form action="{% url 'login' %}" method="post">  <!-- Correction de l'URL du formulaire -->
  {{ csrf_token }}
  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}
  {% for field in form %}
    <p>
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
            <span class="error">{{ field.errors.0 }}</span>
        {% endif %}
    </p>
 {% endfor %}

  <p>
    <input type="submit" value="Se connecter" />
    <a href="#">Créer un compte</a>
  </p>
</form>
{% endblock %}